<!DOCTYPE html>
<html lang="en">
    <%- include("../partials/head.ejs")%>
<body class="show">
    <%- include("../partials/header.ejs") %>
    <main>
        <div>
          <article>
            <h2>
         <%= workout.name %>
            </h2>
            <h3>Sets: <%= workout.sets %></h3>
            <h3>Reps: <%= workout.reps %></h3>
            <h3>Body Part: <%= workout.bodyPart %></h3>
            <h3>Average Calories Burned: <%= workout.caloriesBurned %></h3>
           <img src="<%= workout.img %>" alt="">
           
          
    <a href="/workouts/<%= workout._id %>/edit"><button>Edit</button></a>
    <form action="/workouts/<%= workout._id %>?_method=DELETE " method="post">
      <button> <input type="submit" value="Delete" /></button> 
    </form>

    </article>
</div>
</main>
</body>
</html>