<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <main>
        <div>
          <article>
            <h2>
         <%= workout.name %>
            </h2>
            <h3>Sets: <%= workout.sets %></h3>
            <h3>Reps: <%= workout.reps %></h3>
            <h3>Body Part: <%= workout.bodyPart %></h3>
            <h3>Average Calories Burned: <%= workout.caloriesBurned %></h3>
           <img src="<%= workout.img %>" alt="">
           
          
    <a href="/workouts/<%= workout._id %>/edit"><button>Edit</button></a>
    <form action="/workouts/<%= workout._id %>?_method=DELETE " method="post">
        <input type="submit" value="Delete" />
    </form>

    </article>
</div>
</main>
</body>
</html>